{% extends 'body.html' %}
{% load static %}
{% block carousel %}

{% endblock %}
{% block content %}
    <br>
    <div class="row px-2">
        <div class="col-md-5 col-12 text-center">
            {#            <div style="background: url({% static 'img/logo-full.png' %})#}
            {#                    ;width: 200px;height: 200px;display: block;background-position: center;#}
            {#                    position: relative;background-size: cover"></div>#}
            <img src="{% static 'img/logo-full.png' %}" alt="logo-mercocuba" width="250" height="270">
        </div>
        <div class="col-md-7 col-12 pt-3">
            {% include 'form_footer.html' %}

        </div>
    </div>
    <br>
{% endblock %}

{% block form_footer %}

{% endblock %}
