{% extends 'body.html' %}
{% load static %}
{% block carousel %}

{% endblock %}

{% block content %}
    <h4 class="d-inline-block pl-2">Carrito de compra</h4>
    <span class="d-inline-block float-right pr-3 ">Precio</span>
    <hr class="mt-0">
    <div class="cards-horizontal">
        <div class="card w-100 shadow-none border-bottom rounded-0 card-s-cart">
            <div class="row no-gutters">
                <input type="hidden" value="8.98">
                <div class="col-sm-2 col-3 my-auto">
                    <img class="card-img" src="{% static 'img/card-full-size/card.jpeg' %}" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-8 col-7">
                    <div class="card-body pr-0 px-sm-3 pl-1 pt-1">
                        <h5 class="card-title truncate-2">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            Aspernatur
                            commodi consectetur deleniti dicta doloremque eaque et ipsa iste iusto neque
                            officiis
                            quisquam quo sint, tenetur veritatis voluptas voluptatibus! Laborum, quae?</h5>
                        <div><i class="mdi mdi-star text-warning"></i><i class="mdi mdi-star text-warning"></i>
                            <i class="mdi mdi-star text-warning"></i><i class="mdi mdi-star text-warning"></i>
                            <i class="mdi mdi-star"></i></div>
                        {#                        <select class="custom-select d-block custom-select-sm bg-light" style="width: 100px">#}
                        {#                            <option selected>Qty: 1</option>#}
                        {#                            <option value="1">Qty: 5</option>#}
                        {#                            <option value="2">Qty: 10</option>#}
                        {#                            <option value="3">Qty: 20</option>#}
                        {#                        </select>#}
                        <input type="number" min="1"
                               class="form-control d-inline-block text-center form-control-sm input-cantidad"
                               placeholder="cantidad" value="1"
                               style="width: 85px">
                        <button class="btn btn-danger mt-n1 btn-sm"><i class="mdi mdi-trash-can-outline"></i></button>
                    </div>
                </div>
                <div class="col-sm-2 col-2">
                    <span class="float-right pr-2 pt-1 span-price text-nowrap"><b>$ <span>8.98</span></b></span>
                </div>
            </div>
        </div>

        <div class="card w-100 shadow-none border-bottom rounded-0 card-s-cart">
            <div class="row no-gutters">
                <input type="hidden" value="20.98">
                <div class="col-sm-2 col-3 my-auto">
                    <img class="card-img" src="{% static 'img/card-full-size/card1.jpeg' %}" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-8 col-7">
                    <div class="card-body pr-0 px-sm-3 pl-1 pt-1">
                        <h5 class="card-title truncate-2">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            Aspernatur
                            commodi consectetur deleniti dicta doloremque eaque et ipsa iste iusto neque
                            officiis
                            quisquam quo sint, tenetur veritatis voluptas voluptatibus! Laborum, quae?</h5>
                        <div><i class="mdi mdi-star text-warning"></i><i class="mdi mdi-star text-warning"></i>
                            <i class="mdi mdi-star text-warning"></i><i class="mdi mdi-star text-warning"></i>
                            <i class="mdi mdi-star"></i></div>
                        <input type="number" min="1"
                               class="form-control d-inline-block text-center form-control-sm input-cantidad"
                               placeholder="cantidad" value="1"
                               style="width: 85px">
                        <button class="btn btn-danger mt-n1 btn-sm"><i class="mdi mdi-trash-can-outline"></i></button>
                    </div>
                </div>
                <div class="col-sm-2 col-2">
                    <span class="float-right pr-2 pt-1 span-price text-nowrap"><b>$ <span>20.98</span></b></span>
                </div>
            </div>
        </div>

        <div class="card w-100 shadow-none border-bottom rounded-0 card-s-cart">
            <div class="row no-gutters">
                <input type="hidden" value="8.98">
                <div class="col-sm-2 col-3 my-auto">
                    <img class="card-img" src="{% static 'img/card-full-size/card2.jpeg' %}" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-8 col-7">
                    <div class="card-body pr-0 px-sm-3 pl-1 pt-1">
                        <h5 class="card-title truncate-2">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            Aspernatur
                            commodi consectetur deleniti dicta doloremque eaque et ipsa iste iusto neque
                            officiis
                            quisquam quo sint, tenetur veritatis voluptas voluptatibus! Laborum, quae?</h5>
                        <div>
                            <i class="mdi mdi-star text-warning"></i><i class="mdi mdi-star text-warning"></i>
                            <i class="mdi mdi-star text-warning"></i><i class="mdi mdi-star text-warning"></i>
                            <i class="mdi mdi-star"></i></div>
                        <input type="number" min="1"
                               class="form-control d-inline-block text-center form-control-sm input-cantidad"
                               placeholder="cantidad" value="1"
                               style="width: 85px">
                        <button class="btn btn-danger mt-n1 btn-sm"><i class="mdi mdi-trash-can-outline"></i></button>
                    </div>
                </div>
                <div class="col-sm-2 col-2">
                    <span class="float-right pr-2 pt-1 span-price text-nowrap"><b>$ <span>8.98</span></b></span>
                </div>
            </div>
        </div>

        <span class="text-lg d-flex flex-row-reverse pr-1" id="total-price"><b>Total</b> (2 items): <b>$29.97</b></span>
    </div>
    <br>
    <h4 class="text-center">Métodos de pago</h4>
    <br>
    <form class="px-5">
        <div class="form-row">
            <div class="form-group col-md-3">
                <button type="button" class="btn btn-secondary form-control truncate-1 btn-metodo-pago">Al recibir los
                    productos
                </button>
            </div>
            <div class="form-group col-md-3">
                <button type="button" class="btn btn-secondary form-control truncate-1 btn-metodo-pago">CryptoPas
                </button>
            </div>
            <div class="from-group col-md-3">
                <button type="button" class="btn btn-secondary form-control truncate-1 btn-metodo-pago">Transfermovil
                </button>
            </div>
            <div class="from-group col-md-3 mt-3 mt-md-0">
                <button type="button" class="btn btn-secondary form-control truncate-1 btn-metodo-pago">PayPal</button>
            </div>
        </div>
    </form>

{% endblock %}
{% block form_footer %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/cart_details.js' %}"></script>
{% endblock %}