<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><a href="{% url 'home' %}" target="_blank">home</a></div>
<div><a href="{% url 'all_stores' %}" target="_blank">all stores</a></div>
<div><a href="{% url 'cart_details' %}" target="_blank">cart details</a></div>
<div><a href="{% url 'product_details' %}" target="_blank">product details</a></div>
<div><a href="{% url 'tienda_details' %}" target="_blank">store details</a></div>
</body>
</html>