{% extends 'body.html' %}
{% load static %}
{% block content %}
    <hr>
    <div class="todas-las-tiendas row">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-gray-light rounded-0 card-store">
                <div class="card-body px-2 py-3 text-center">
                    <h5 class="truncate-1 text-left">Computadoras y Accesorios</h5>
                    <img src="{% static 'img/todas_tiendas/pc_accesorios.jpg' %}" class="card-img-top pb-3" alt="...">
                    <a href="{% url 'tienda_details' %}" class="">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-gray-light rounded-0 card-store">
                <div class="card-body px-2 py-3 text-center">
                    <h5 class="truncate-1 text-left">Amazon Basic</h5>
                    <img src="{% static 'img/todas_tiendas/celular_laptop.jpg' %}" class="card-img-top pb-3" alt="...">
                    <a href="{% url 'tienda_details' %}" class="">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-gray-light rounded-0 card-store">
                <div class="card-body px-2 py-3 text-center">
                    <h5 class="truncate-1 text-left">Ofertas y promociones</h5>
                    <img src="{% static 'img/todas_tiendas/mensajeria.jpg' %}" class="card-img-top pb-3" alt="...">
                    <a href="{% url 'tienda_details' %}" class="">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-gray-light rounded-0 card-store">
                <div class="card-body px-2 py-3 text-center">
                    <h5 class="truncate-1 text-left">Seleccionados en belleza</h5>
                    <img src="{% static 'img/todas_tiendas/belleza.jpeg' %}" class="card-img-top pb-3" alt="...">
                    <a href="{% url 'tienda_details' %}" class="">Ver más</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-gray-light rounded-0 card-store">
                <div class="card-body px-2 py-3 text-center">
                    <h5 class="truncate-1 text-left">Computadoras y Accesorios</h5>
                    <img src="{% static 'img/todas_tiendas/pc_accesorios.jpg' %}" class="card-img-top pb-3" alt="...">
                    <a href="{% url 'tienda_details' %}" class="">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-gray-light rounded-0 card-store">
                <div class="card-body px-2 py-3 text-center">
                    <h5 class="truncate-1 text-left">Amazon Basic</h5>
                    <img src="{% static 'img/todas_tiendas/celular_laptop.jpg' %}" class="card-img-top pb-3" alt="...">
                    <a href="{% url 'tienda_details' %}" class="">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-gray-light rounded-0 card-store">
                <div class="card-body px-2 py-3 text-center">
                    <h5 class="truncate-1 text-left">Ofertas y promociones</h5>
                    <img src="{% static 'img/todas_tiendas/mensajeria.jpg' %}" class="card-img-top pb-3" alt="...">
                    <a href="{% url 'tienda_details' %}" class="">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-gray-light rounded-0 card-store">
                <div class="card-body px-2 py-3 text-center">
                    <h5 class="truncate-1 text-left">Seleccionados en belleza</h5>
                    <img src="{% static 'img/todas_tiendas/belleza.jpeg' %}" class="card-img-top pb-3" alt="...">
                    <a href="{% url 'tienda_details' %}">Ver más</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_footer %}

{% endblock %}