:root {
    --gutter: 20px;
}

.app {
    /*padding: var(--gutter) 0;*/
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) var(--gutter) 1fr var(--gutter);
    align-content: start;
}

.app > * {
    grid-column: 3 / -3;
}

.app > .full {
    grid-column: 1 / -1;
}

.hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 3);
    grid-template-columns: 10px;
    grid-template-rows: minmax(0px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(33% - var(--gutter) * 1.2);

    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
    content: '';
    width: 10px;
}

.app {
    /*width: 375px;*/
    /*height: 100px;*/
    /*background: #DBD0BC;*/
    /*overflow-y: scroll;*/
}

.hs > li,
.item {
    scroll-snap-align: center;
    padding-left: calc(var(--gutter) / 2 * 1.5);
    padding-right: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: #fff;*/
    /*border-radius: 8px;*/
}


.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}