{% extends 'base.html' %}
{% load static %}
{% block body %}
    <body>
    <div class="wrapper">
        {% block navbar %}
            <!-- Navbar -->
            {% include 'navbar2.html' %}
        {% endblock %}

        <!-- sub Navbar -->
        {% include 'sub_navbar.html' %}
        <!-- Content -->
        <div class="content">
            <div class="container-fluid py-2  px-lg-4">
                <!--Carousel-->
                {% block carousel %}
                    {% include 'carousel.html' %}
                {% endblock %}
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    <!--footer-->
    {% block footer %}
        <footer class="main-footer bg-navy text-center ml-0">
            <div class="align-content-center user-select-none">
                <img src="{% static 'img/MercoCuba-final-01.png' %}" alt="" height="60">
                <img src="{% static 'img/letra-white.png' %}" alt="MercoCuba" height="40">
            </div>
            <br>
            <div class="rayita"></div>
            {% block form_footer %}
                {% include 'form_footer.html' %}
            {% endblock %}
            <br>

            <!--text footer-->
            <div class="row text-left px-2 px-lg-4">
                {% for var in 16|rjust:'16' %}
                    {#<div class="col-3 col-sm-2 pb-3">#}
                    <div class="col-md-3 col-lg-2 col-4 col-sm-4 pb-3">
                        <a rel="nofollow" class="cursor-pointer" style="color: inherit">
                            <span class="text-xs d-block"><b>Amazon music</b></span>
                            <small class="text-xs">Reproduce millones de canciones</small>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="rayita py-2"></div>
            <span class="text-center">MERCOCUBA©. By GoDjango. Todos los derechos reservados.</span>
        </footer>
    {% endblock %}
    </body>
{% endblock %}