<!--form footer-->
<h1 class="text-center text-navy">Contáctenos</h1>
<form class="px-md- text-center" id="form_footer">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group col-md-6">
            <input type="email" class="form-control" placeholder="Email">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 mt-3 mt-md-0">
            <textarea name="area" class="form-control" rows="4" placeholder="Mensaje" style="resize: none"></textarea>
        </div>
    </div>
    <button type="submit" class="btn bg-gradient-warning">Enviar</button>
</form>