{% load static %}
<!-- cards full row-->
<div class="detalle-tienda-cards row">
    {% for foo in 2|rjust:'2' %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card agrandar  card-product">
                <a href="{% url 'product_details' %}" style="color: inherit">
                    <img src="{% static 'img/detalle_tienda/disco.jpeg' %}" class="card-img-top img-card-product"
                         alt="prueba">
                    <div class="card-body">
                        <span class=" text-lg truncate-1">Nombre random</span>
                        <span class="card-text truncate-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                            cupiditate dolorum eos est illo ratione veniam. Aliquam animi, dolores expedita explicabo
                            nam obcaecati, quasi ratione, sit tempora velit voluptate voluptatem?</span>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star"></i>
                        <div>
                            <sup>US$</sup><b>64</b><sup>99</sup><small style="text-decoration: line-through"> US$
                            99.99</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card agrandar card-product">
                <a href="{% url 'product_details' %}" style="color: inherit">
                    <img src="{% static 'img/detalle_tienda/disco.jpeg' %}" class="card-img-top img-card-product"
                         alt="prueba">
                    <div class="card-body">
                        <span class=" text-lg truncate-1">Nombre random</span>
                        <span class="card-text truncate-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                            cupiditate dolorum eos est illo ratione veniam. Aliquam animi, dolores expedita explicabo
                            nam obcaecati, quasi ratione, sit tempora velit voluptate voluptatem?</span>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star"></i>
                        <div>
                            <sup>US$</sup><b>64</b><sup>99</sup><small style="text-decoration: line-through"> US$
                            99.99</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card agrandar card-product">
                <a href="{% url 'product_details' %}" style="color: inherit">
                    <img src="{% static 'img/detalle_tienda/roku.jpeg' %}" class="card-img-top img-card-product"
                         alt="prueba">
                    <div class="card-body">
                        <span class=" text-lg truncate-1">Nombre random</span>
                        <span class="card-text truncate-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                            cupiditate dolorum eos est illo ratione veniam. Aliquam animi, dolores expedita explicabo
                            nam obcaecati, quasi ratione, sit tempora velit voluptate voluptatem?</span>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star"></i>
                        <div>
                            <sup>US$</sup><b>64</b><sup>99</sup><small style="text-decoration: line-through"> US$
                            99.99</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card agrandar card-product">
                <a href="{% url 'product_details' %}" style="color: inherit">
                    <img src="{% static 'img/detalle_tienda/roku.jpeg' %}" class="card-img-top img-card-product"
                         alt="prueba">
                    <div class="card-body">
                        <span class=" text-lg truncate-1">Nombre random</span>
                        <span class="card-text truncate-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                            cupiditate dolorum eos est illo ratione veniam. Aliquam animi, dolores expedita explicabo
                            nam obcaecati, quasi ratione, sit tempora velit voluptate voluptatem?</span>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star"></i>
                        <div>
                            <sup>US$</sup><b>64</b><sup>99</sup><small style="text-decoration: line-through"> US$
                            99.99</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card card-product agrandar">
                <a href="{% url 'product_details' %}" style="color: inherit">
                    <img src="{% static 'img/detalle_tienda/teclado.jpeg' %}" class="card-img-top"
                         alt="prueba">
                    <div class="card-body">
                        <span class=" text-lg truncate-1">Nombre random</span>
                        <span class="card-text truncate-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                            cupiditate dolorum eos est illo ratione veniam. Aliquam animi, dolores expedita explicabo
                            nam obcaecati, quasi ratione, sit tempora velit voluptate voluptatem?</span>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star"></i>
                        <div>
                            <sup>US$</sup><b>64</b><sup>99</sup><small style="text-decoration: line-through"> US$
                            99.99</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card card-product agrandar">
                <a href="{% url 'product_details' %}" style="color: inherit">
                    <img src="{% static 'img/detalle_tienda/cartucho.jpeg' %}" class="card-img-top "
                         alt="prueba">
                    <div class="card-body">
                        <span class="text-lg truncate-1">Nombre random</span>
                        <span class="card-text truncate-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                            cupiditate dolorum eos est illo ratione veniam. Aliquam animi, dolores expedita explicabo
                            nam obcaecati, quasi ratione, sit tempora velit voluptate voluptatem?</span>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star"></i>
                        <div>
                            <sup>US$</sup><b>64</b><sup>99</sup><small style="text-decoration: line-through"> US$
                            99.99</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>