<nav class=" navbar navbar-expand navbar-dark navbar-navy py-0"
     style="margin-left: 0;border-top-color: transparent">
    <div class="container-fluid">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <a rel="store" class="nav-link px-1" style="cursor: pointer" data-toggle="modal"
               data-target="#asd">
                <i class="mdi mdi mdi-menu d-sm-inline-block"></i>
                <small class="d-sm-inline-block d-none"> TODO</small>
            </a>
            <li class="nav-link" style="cursor: pointer">
                <span class=""> MAS VENDIDOS</span>
            </li>
            <li class="nav-link" style="cursor: pointer">
                <span class=""> MAS VISTOS</span>
            </li>
        </ul>
    </div>
</nav>